/* roots für Farben einfügen*/

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h3,
a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #28355c;
  text-transform: uppercase;
}

h3 {
  font-size: 2em;
  padding-top: 8%;
  margin-bottom: 0.1em;
}

h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #28355c;
  margin-left: -1em;
}
p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  color: #28355c;
  margin-left: -1em;
}

hr {
  width: 30px;
  height: 3px;
  background: #28355c;
  border: 0;
  margin: 0 auto 40px auto;
}

#logo,
li,
img {
  transition: all 300ms;
}

/* HEADER*********************************/

header {
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 1em 3em rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo {
  width: 14em;
  height: 4em;
  float: left;
  margin: -5em 0 0 -4em;
}

#logo img {
  width: 100%;
  scale: 0.4;
}

header nav {
  float: right;
  margin: 0.5em 1em 0 0;
}

header nav ul li {
  float: left;
  margin-left: 1.3em;
}
header nav ul a li {
  font-size: 1em;
}

header nav ul li:hover {
  padding-top: 5px;
}

/* HOME *********************************/

#home {
  background: url(../img/landing.png);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

#home h1 {
  margin: 0.7em auto auto auto;
  font-size: 5em;
}

#home img {
  width: 32px;
  margin-top: 10px;
  opacity: 0.7;
}

#home img:hover {
  opacity: 1;
}

/* ABOUT *********************************/
#about img {
  width: 20em;
  margin-bottom: -6em;
}

#about p {
  width: 90%;
  margin: 1em auto 0 auto;
}

/* INFO *********************************/
#info p {
  width: 100%;
  margin: 1em auto 1em auto;
}

#info ul {
  display: contents;
}
#info h3 {
  margin-top: 3em;
}

#info h4 {
  margin-top: -2em;
}

#info ul hr {
  width: 100%;
  height: 0.3em;
  opacity: 50%;
}

/* LINK *********************************/

#link h3 {
  margin-top: 3em;
}

#link ul {
  display: contents;
}
